/* Aca se colocan todo lo que sea global, por ejemplo los colores globales, la tipografia,
ajostes globles de boostrap etc */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

:root {
    /* Fuentes */
    --font-principal: 'inter bold', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
    --font-secundaria: 'Bebas Neue', sans-serif;

    /* 5 Colores del sistema */
    --color-primario: #40b622;
    --color-secundario: #216e2a;
    --color-terceario: #224330;
    --color-exito: #5bbe49;
    --color-cuaternario: #a1c9f5;
    --color-fondo: #f8f9fa;
    --color-texto: #1c1c1c;
}