.navbar .nav-link-custom {
    color: #1c1c1c;
    transition: color 0.2s ease;
}

.navbar .nav-link-custom:hover {
    color: #40b622;
}

.navbar .nav-link-custom.active-green {
    color: #216e2a;
}

.btn.btn-brand-outline {
    --bs-btn-color: #1c1c1c;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #1c1c1c;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #224330;
    --bs-btn-hover-border-color: #224330;

    transition: all 0.2s ease;
}

.btn.btn-brand-solid {
    /* Estado Normal */
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #40b622;
    --bs-btn-border-color: #40b622;

    /* Estado Hover */
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #216e2a;
    --bs-btn-hover-border-color: #216e2a;

    transition: all 0.2s ease;
}

.bg-brand-dark {
    background-color: #1c1c1c;
}

.footer-link {
    color: #a3a3a3;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: #40b622;
}